<footer>
  <div>
    <p>&copy; <%= new Date().getFullYear() %> CSE Motors, All rights reserved.</p>
  </div>
  <div>
    <p>All images used are believed to be in "Fair Use". Please notify the author if any are not and they will be removed.</p>
  </div>
  <div>
    <p>Last Updated: <span id="last-updated"><%= lastUpdate %></span></p>
  </div>
  
  <script src="/js/main.js"></script>
</footer>
