<header>
  <div class="header-container">
    <a href="/" class="logo"><img src="/images/site/phpmotors-logo.png" alt="CSE Motors Logo" id="logo"></a>
    <div class="account">
      <a href="/account">My Account</a>
    </div>
  </div>
</header>
